*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    overflow: hidden;
}
.container{
    position: absolute;
    color: aliceblue;
}